@font-face {
	font-family: 'XeniaExtendedC';
	src: url('../fonts/xeniaextendedc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/xeniaextendedc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/xeniaextendedc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/xeniaextendedc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/xeniaextendedc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/xeniaextendedc.svg#xeniaextendedc') format('svg'); /* Chrome < 4, Legacy iOS */
}