@import url(fonts.css);
.percent-height--0 {
  height: 0%;
}

.percent-height--1 {
  height: 1%;
}

.percent-height--2 {
  height: 2%;
}

.percent-height--3 {
  height: 3%;
}

.percent-height--4 {
  height: 4%;
}

.percent-height--5 {
  height: 5%;
}

.percent-height--6 {
  height: 6%;
}

.percent-height--7 {
  height: 7%;
}

.percent-height--8 {
  height: 8%;
}

.percent-height--9 {
  height: 9%;
}

.percent-height--10 {
  height: 10%;
}

.percent-height--11 {
  height: 11%;
}

.percent-height--12 {
  height: 12%;
}

.percent-height--13 {
  height: 13%;
}

.percent-height--14 {
  height: 14%;
}

.percent-height--15 {
  height: 15%;
}

.percent-height--16 {
  height: 16%;
}

.percent-height--17 {
  height: 17%;
}

.percent-height--18 {
  height: 18%;
}

.percent-height--19 {
  height: 19%;
}

.percent-height--20 {
  height: 20%;
}

.percent-height--21 {
  height: 21%;
}

.percent-height--22 {
  height: 22%;
}

.percent-height--23 {
  height: 23%;
}

.percent-height--24 {
  height: 24%;
}

.percent-height--25 {
  height: 25%;
}

.percent-height--26 {
  height: 26%;
}

.percent-height--27 {
  height: 27%;
}

.percent-height--28 {
  height: 28%;
}

.percent-height--29 {
  height: 29%;
}

.percent-height--30 {
  height: 30%;
}

.percent-height--31 {
  height: 31%;
}

.percent-height--32 {
  height: 32%;
}

.percent-height--33 {
  height: 33%;
}

.percent-height--34 {
  height: 34%;
}

.percent-height--35 {
  height: 35%;
}

.percent-height--36 {
  height: 36%;
}

.percent-height--37 {
  height: 37%;
}

.percent-height--38 {
  height: 38%;
}

.percent-height--39 {
  height: 39%;
}

.percent-height--40 {
  height: 40%;
}

.percent-height--41 {
  height: 41%;
}

.percent-height--42 {
  height: 42%;
}

.percent-height--43 {
  height: 43%;
}

.percent-height--44 {
  height: 44%;
}

.percent-height--45 {
  height: 45%;
}

.percent-height--46 {
  height: 46%;
}

.percent-height--47 {
  height: 47%;
}

.percent-height--48 {
  height: 48%;
}

.percent-height--49 {
  height: 49%;
}

.percent-height--50 {
  height: 50%;
}

.percent-height--51 {
  height: 51%;
}

.percent-height--52 {
  height: 52%;
}

.percent-height--53 {
  height: 53%;
}

.percent-height--54 {
  height: 54%;
}

.percent-height--55 {
  height: 55%;
}

.percent-height--56 {
  height: 56%;
}

.percent-height--57 {
  height: 57%;
}

.percent-height--58 {
  height: 58%;
}

.percent-height--59 {
  height: 59%;
}

.percent-height--60 {
  height: 60%;
}

.percent-height--61 {
  height: 61%;
}

.percent-height--62 {
  height: 62%;
}

.percent-height--63 {
  height: 63%;
}

.percent-height--64 {
  height: 64%;
}

.percent-height--65 {
  height: 65%;
}

.percent-height--66 {
  height: 66%;
}

.percent-height--67 {
  height: 67%;
}

.percent-height--68 {
  height: 68%;
}

.percent-height--69 {
  height: 69%;
}

.percent-height--70 {
  height: 70%;
}

.percent-height--71 {
  height: 71%;
}

.percent-height--72 {
  height: 72%;
}

.percent-height--73 {
  height: 73%;
}

.percent-height--74 {
  height: 74%;
}

.percent-height--75 {
  height: 75%;
}

.percent-height--76 {
  height: 76%;
}

.percent-height--77 {
  height: 77%;
}

.percent-height--78 {
  height: 78%;
}

.percent-height--79 {
  height: 79%;
}

.percent-height--80 {
  height: 80%;
}

.percent-height--81 {
  height: 81%;
}

.percent-height--82 {
  height: 82%;
}

.percent-height--83 {
  height: 83%;
}

.percent-height--84 {
  height: 84%;
}

.percent-height--85 {
  height: 85%;
}

.percent-height--86 {
  height: 86%;
}

.percent-height--87 {
  height: 87%;
}

.percent-height--88 {
  height: 88%;
}

.percent-height--89 {
  height: 89%;
}

.percent-height--90 {
  height: 90%;
}

.percent-height--91 {
  height: 91%;
}

.percent-height--92 {
  height: 92%;
}

.percent-height--93 {
  height: 93%;
}

.percent-height--94 {
  height: 94%;
}

.percent-height--95 {
  height: 95%;
}

.percent-height--96 {
  height: 96%;
}

.percent-height--97 {
  height: 97%;
}

.percent-height--98 {
  height: 98%;
}

.percent-height--99 {
  height: 99%;
}

.percent-height--100 {
  height: 100%;
}

.percent-width--0 {
  width: 0%;
}

.percent-width--1 {
  width: 1%;
}

.percent-width--2 {
  width: 2%;
}

.percent-width--3 {
  width: 3%;
}

.percent-width--4 {
  width: 4%;
}

.percent-width--5 {
  width: 5%;
}

.percent-width--6 {
  width: 6%;
}

.percent-width--7 {
  width: 7%;
}

.percent-width--8 {
  width: 8%;
}

.percent-width--9 {
  width: 9%;
}

.percent-width--10 {
  width: 10%;
}

.percent-width--11 {
  width: 11%;
}

.percent-width--12 {
  width: 12%;
}

.percent-width--13 {
  width: 13%;
}

.percent-width--14 {
  width: 14%;
}

.percent-width--15 {
  width: 15%;
}

.percent-width--16 {
  width: 16%;
}

.percent-width--17 {
  width: 17%;
}

.percent-width--18 {
  width: 18%;
}

.percent-width--19 {
  width: 19%;
}

.percent-width--20 {
  width: 20%;
}

.percent-width--21 {
  width: 21%;
}

.percent-width--22 {
  width: 22%;
}

.percent-width--23 {
  width: 23%;
}

.percent-width--24 {
  width: 24%;
}

.percent-width--25 {
  width: 25%;
}

.percent-width--26 {
  width: 26%;
}

.percent-width--27 {
  width: 27%;
}

.percent-width--28 {
  width: 28%;
}

.percent-width--29 {
  width: 29%;
}

.percent-width--30 {
  width: 30%;
}

.percent-width--31 {
  width: 31%;
}

.percent-width--32 {
  width: 32%;
}

.percent-width--33 {
  width: 33%;
}

.percent-width--34 {
  width: 34%;
}

.percent-width--35 {
  width: 35%;
}

.percent-width--36 {
  width: 36%;
}

.percent-width--37 {
  width: 37%;
}

.percent-width--38 {
  width: 38%;
}

.percent-width--39 {
  width: 39%;
}

.percent-width--40 {
  width: 40%;
}

.percent-width--41 {
  width: 41%;
}

.percent-width--42 {
  width: 42%;
}

.percent-width--43 {
  width: 43%;
}

.percent-width--44 {
  width: 44%;
}

.percent-width--45 {
  width: 45%;
}

.percent-width--46 {
  width: 46%;
}

.percent-width--47 {
  width: 47%;
}

.percent-width--48 {
  width: 48%;
}

.percent-width--49 {
  width: 49%;
}

.percent-width--50 {
  width: 50%;
}

.percent-width--51 {
  width: 51%;
}

.percent-width--52 {
  width: 52%;
}

.percent-width--53 {
  width: 53%;
}

.percent-width--54 {
  width: 54%;
}

.percent-width--55 {
  width: 55%;
}

.percent-width--56 {
  width: 56%;
}

.percent-width--57 {
  width: 57%;
}

.percent-width--58 {
  width: 58%;
}

.percent-width--59 {
  width: 59%;
}

.percent-width--60 {
  width: 60%;
}

.percent-width--61 {
  width: 61%;
}

.percent-width--62 {
  width: 62%;
}

.percent-width--63 {
  width: 63%;
}

.percent-width--64 {
  width: 64%;
}

.percent-width--65 {
  width: 65%;
}

.percent-width--66 {
  width: 66%;
}

.percent-width--67 {
  width: 67%;
}

.percent-width--68 {
  width: 68%;
}

.percent-width--69 {
  width: 69%;
}

.percent-width--70 {
  width: 70%;
}

.percent-width--71 {
  width: 71%;
}

.percent-width--72 {
  width: 72%;
}

.percent-width--73 {
  width: 73%;
}

.percent-width--74 {
  width: 74%;
}

.percent-width--75 {
  width: 75%;
}

.percent-width--76 {
  width: 76%;
}

.percent-width--77 {
  width: 77%;
}

.percent-width--78 {
  width: 78%;
}

.percent-width--79 {
  width: 79%;
}

.percent-width--80 {
  width: 80%;
}

.percent-width--81 {
  width: 81%;
}

.percent-width--82 {
  width: 82%;
}

.percent-width--83 {
  width: 83%;
}

.percent-width--84 {
  width: 84%;
}

.percent-width--85 {
  width: 85%;
}

.percent-width--86 {
  width: 86%;
}

.percent-width--87 {
  width: 87%;
}

.percent-width--88 {
  width: 88%;
}

.percent-width--89 {
  width: 89%;
}

.percent-width--90 {
  width: 90%;
}

.percent-width--91 {
  width: 91%;
}

.percent-width--92 {
  width: 92%;
}

.percent-width--93 {
  width: 93%;
}

.percent-width--94 {
  width: 94%;
}

.percent-width--95 {
  width: 95%;
}

.percent-width--96 {
  width: 96%;
}

.percent-width--97 {
  width: 97%;
}

.percent-width--98 {
  width: 98%;
}

.percent-width--99 {
  width: 99%;
}

.percent-width--100 {
  width: 100%;
}

.info-site-bar .schedule .schedule__footer .footer-item .two-circle, .info-site-bar .schedule .schedule__footer .footer-item, .info-site-bar .schedule .schedule__footer, .info-site-bar .calendar .calendar__body .calendar-row-item, .info-site-bar .calendar__time-select, .info-site-bar .calendar__check-box .check-box__label, .info-site-bar .calendar__check-box, .content .recent-files .recent-file__cards .file-card__item .file-type, .content .recent-files .recent-file__cards .file-card__item, .card-item__access-for .access-item, .content-sections__header, .more-functions-buttons, .view-button, .common-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: white;
  font-family: "Mulish", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.section-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #333539;
}

.more-functions-buttons, .view-button, .common-button {
  font-weight: 600;
  font-size: 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: box-shadow 0.7s, color 0.5s, background-color 0.5s;
}
.more-functions-buttons:hover, .view-button:hover, .common-button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: rgba(200, 200, 200, 0.3);
}

.common-button {
  background: #6672fb;
  padding: 11px 14px;
  min-width: 120px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.54px;
  color: #FFFFFF;
}
.common-button:hover {
  background: rgba(102, 114, 251, 0.8);
  color: #535353;
}

.view-button {
  color: #4D4D4D;
  background-color: #EFF3FB;
  padding: 5px 12px;
  font-weight: 600;
  letter-spacing: 0.06px;
  border-right: 9px;
  line-height: 16px;
}
.view-button i {
  margin-left: 9px;
  font-size: 20px;
}

.more-functions-buttons {
  background-color: transparent;
  padding: 10px;
  font-size: 14px;
  min-width: 37px;
}

.icon-button i {
  margin-left: 10px;
}

.content-sections__header {
  justify-content: space-between;
  margin-bottom: 28px;
}
.content-sections__header .content-sections__additional {
  display: flex;
}
.content-sections__header .common-button {
  margin-left: 10px;
}

.container {
  padding: 30px 25px;
  height: 100%;
  width: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: minmax(min-content, 250px) minmax(min-content, 1fr) minmax(min-content, 416px);
  height: 100vh;
  background: linear-gradient(to right, #121432 50%, #F6F9FD 50%);
}

.card-item__access-for {
  margin-bottom: 14px;
  vertical-align: center;
}
.card-item__access-for ul {
  display: inline-flex;
}
.card-item__access-for .access-item {
  background-color: white;
  color: #383D4A;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-right: -5px;
  border: 1px solid transparent;
  transition: transform 0.5s;
}
.card-item__access-for .access-item:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.pdf-file-card .file-type {
  background-color: #e8523f;
}

.png-file-card .file-type {
  background-color: #f8b849;
}

.zip-file-card .file-type {
  background-color: #1f998e;
}

.red-bg {
  background-color: #e8523f;
}

.yellow-bg {
  background-color: #f8b849;
}

.green-bg {
  background-color: #1f998e;
}

.blue-bg {
  background-color: #6672fb;
}

.red-border {
  border: 0.6px solid #e8523f;
}

.yellow-border {
  border: 0.6px solid #f8b849;
}

.blue-border {
  border: 0.6px solid #6672fb;
}

.green-border {
  border: 0.6px solid #1f998e;
}

.blue-bg .file-type {
  background-color: #6672fb;
}

.main-site-bar {
  background-color: transparent;
  width: 100%;
  justify-self: start;
  grid-column: 1/2;
  grid-row: 1/1;
  overflow: scroll;
  color: white;
}
.main-site-bar .container {
  padding: 53px 44px 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
.main-site-bar .logo {
  display: inline-flex;
  align-items: center;
  margin-bottom: 90px;
}
.main-site-bar .logo__image {
  margin-right: 22px;
}
.main-site-bar .logo__text {
  font-family: "XeniaExtendedC", serif;
  font-size: 26px;
  line-height: 24px;
}
.main-site-bar .main-navigation__item {
  color: #C1BEBE;
  margin-bottom: 27px;
}
.main-site-bar .main-navigation__item:last-child {
  margin-bottom: 80px;
}
.main-site-bar .main-navigation__item .more-functions-buttons {
  position: relative;
  color: #C1BEBE;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: start;
  font-weight: 600;
}
.main-site-bar .main-navigation__item .more-functions-buttons::before {
  content: "";
  position: absolute;
  height: 45px;
  background-color: transparent;
  width: 10px;
  border-radius: 0 100px 100px 0;
  left: -49px;
  top: 0;
}
.main-site-bar .main-navigation__item .more-functions-buttons--active::before {
  background-color: white;
}
.main-site-bar .main-navigation__item .more-functions-buttons:hover {
  box-shadow: none;
}
.main-site-bar .main-navigation__item .more-functions-buttons:hover::before {
  background-color: #6672FB;
}
.main-site-bar .main-navigation__item .more-functions-buttons i {
  margin-right: 28px;
  font-size: 20px;
}
.main-site-bar .storage-indicator {
  margin-bottom: 35px;
  align-self: end;
  justify-self: end;
}
.main-site-bar .storage-indicator__title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
.main-site-bar .storage-indicator__title .storage-icon {
  margin-right: 8px;
}
.main-site-bar .storage-indicator__graphic {
  margin: 9px 0 7px;
  min-width: 160px;
  height: 6px;
  background-color: #6672FB;
  border-radius: 4px;
}
.main-site-bar .storage-indicator__graphic-inner {
  background: #F8B849;
  border-radius: 4px;
  height: 100%;
}
.main-site-bar .storage-indicator__graphic-inner--0 {
  width: 0%;
}
.main-site-bar .storage-indicator__graphic-inner--1 {
  width: 1%;
}
.main-site-bar .storage-indicator__graphic-inner--2 {
  width: 2%;
}
.main-site-bar .storage-indicator__graphic-inner--3 {
  width: 3%;
}
.main-site-bar .storage-indicator__graphic-inner--4 {
  width: 4%;
}
.main-site-bar .storage-indicator__graphic-inner--5 {
  width: 5%;
}
.main-site-bar .storage-indicator__graphic-inner--6 {
  width: 6%;
}
.main-site-bar .storage-indicator__graphic-inner--7 {
  width: 7%;
}
.main-site-bar .storage-indicator__graphic-inner--8 {
  width: 8%;
}
.main-site-bar .storage-indicator__graphic-inner--9 {
  width: 9%;
}
.main-site-bar .storage-indicator__graphic-inner--10 {
  width: 10%;
}
.main-site-bar .storage-indicator__graphic-inner--11 {
  width: 11%;
}
.main-site-bar .storage-indicator__graphic-inner--12 {
  width: 12%;
}
.main-site-bar .storage-indicator__graphic-inner--13 {
  width: 13%;
}
.main-site-bar .storage-indicator__graphic-inner--14 {
  width: 14%;
}
.main-site-bar .storage-indicator__graphic-inner--15 {
  width: 15%;
}
.main-site-bar .storage-indicator__graphic-inner--16 {
  width: 16%;
}
.main-site-bar .storage-indicator__graphic-inner--17 {
  width: 17%;
}
.main-site-bar .storage-indicator__graphic-inner--18 {
  width: 18%;
}
.main-site-bar .storage-indicator__graphic-inner--19 {
  width: 19%;
}
.main-site-bar .storage-indicator__graphic-inner--20 {
  width: 20%;
}
.main-site-bar .storage-indicator__graphic-inner--21 {
  width: 21%;
}
.main-site-bar .storage-indicator__graphic-inner--22 {
  width: 22%;
}
.main-site-bar .storage-indicator__graphic-inner--23 {
  width: 23%;
}
.main-site-bar .storage-indicator__graphic-inner--24 {
  width: 24%;
}
.main-site-bar .storage-indicator__graphic-inner--25 {
  width: 25%;
}
.main-site-bar .storage-indicator__graphic-inner--26 {
  width: 26%;
}
.main-site-bar .storage-indicator__graphic-inner--27 {
  width: 27%;
}
.main-site-bar .storage-indicator__graphic-inner--28 {
  width: 28%;
}
.main-site-bar .storage-indicator__graphic-inner--29 {
  width: 29%;
}
.main-site-bar .storage-indicator__graphic-inner--30 {
  width: 30%;
}
.main-site-bar .storage-indicator__graphic-inner--31 {
  width: 31%;
}
.main-site-bar .storage-indicator__graphic-inner--32 {
  width: 32%;
}
.main-site-bar .storage-indicator__graphic-inner--33 {
  width: 33%;
}
.main-site-bar .storage-indicator__graphic-inner--34 {
  width: 34%;
}
.main-site-bar .storage-indicator__graphic-inner--35 {
  width: 35%;
}
.main-site-bar .storage-indicator__graphic-inner--36 {
  width: 36%;
}
.main-site-bar .storage-indicator__graphic-inner--37 {
  width: 37%;
}
.main-site-bar .storage-indicator__graphic-inner--38 {
  width: 38%;
}
.main-site-bar .storage-indicator__graphic-inner--39 {
  width: 39%;
}
.main-site-bar .storage-indicator__graphic-inner--40 {
  width: 40%;
}
.main-site-bar .storage-indicator__graphic-inner--41 {
  width: 41%;
}
.main-site-bar .storage-indicator__graphic-inner--42 {
  width: 42%;
}
.main-site-bar .storage-indicator__graphic-inner--43 {
  width: 43%;
}
.main-site-bar .storage-indicator__graphic-inner--44 {
  width: 44%;
}
.main-site-bar .storage-indicator__graphic-inner--45 {
  width: 45%;
}
.main-site-bar .storage-indicator__graphic-inner--46 {
  width: 46%;
}
.main-site-bar .storage-indicator__graphic-inner--47 {
  width: 47%;
}
.main-site-bar .storage-indicator__graphic-inner--48 {
  width: 48%;
}
.main-site-bar .storage-indicator__graphic-inner--49 {
  width: 49%;
}
.main-site-bar .storage-indicator__graphic-inner--50 {
  width: 50%;
}
.main-site-bar .storage-indicator__graphic-inner--51 {
  width: 51%;
}
.main-site-bar .storage-indicator__graphic-inner--52 {
  width: 52%;
}
.main-site-bar .storage-indicator__graphic-inner--53 {
  width: 53%;
}
.main-site-bar .storage-indicator__graphic-inner--54 {
  width: 54%;
}
.main-site-bar .storage-indicator__graphic-inner--55 {
  width: 55%;
}
.main-site-bar .storage-indicator__graphic-inner--56 {
  width: 56%;
}
.main-site-bar .storage-indicator__graphic-inner--57 {
  width: 57%;
}
.main-site-bar .storage-indicator__graphic-inner--58 {
  width: 58%;
}
.main-site-bar .storage-indicator__graphic-inner--59 {
  width: 59%;
}
.main-site-bar .storage-indicator__graphic-inner--60 {
  width: 60%;
}
.main-site-bar .storage-indicator__graphic-inner--61 {
  width: 61%;
}
.main-site-bar .storage-indicator__graphic-inner--62 {
  width: 62%;
}
.main-site-bar .storage-indicator__graphic-inner--63 {
  width: 63%;
}
.main-site-bar .storage-indicator__graphic-inner--64 {
  width: 64%;
}
.main-site-bar .storage-indicator__graphic-inner--65 {
  width: 65%;
}
.main-site-bar .storage-indicator__graphic-inner--66 {
  width: 66%;
}
.main-site-bar .storage-indicator__graphic-inner--67 {
  width: 67%;
}
.main-site-bar .storage-indicator__graphic-inner--68 {
  width: 68%;
}
.main-site-bar .storage-indicator__graphic-inner--69 {
  width: 69%;
}
.main-site-bar .storage-indicator__graphic-inner--70 {
  width: 70%;
}
.main-site-bar .storage-indicator__graphic-inner--71 {
  width: 71%;
}
.main-site-bar .storage-indicator__graphic-inner--72 {
  width: 72%;
}
.main-site-bar .storage-indicator__graphic-inner--73 {
  width: 73%;
}
.main-site-bar .storage-indicator__graphic-inner--74 {
  width: 74%;
}
.main-site-bar .storage-indicator__graphic-inner--75 {
  width: 75%;
}
.main-site-bar .storage-indicator__graphic-inner--76 {
  width: 76%;
}
.main-site-bar .storage-indicator__graphic-inner--77 {
  width: 77%;
}
.main-site-bar .storage-indicator__graphic-inner--78 {
  width: 78%;
}
.main-site-bar .storage-indicator__graphic-inner--79 {
  width: 79%;
}
.main-site-bar .storage-indicator__graphic-inner--80 {
  width: 80%;
}
.main-site-bar .storage-indicator__graphic-inner--81 {
  width: 81%;
}
.main-site-bar .storage-indicator__graphic-inner--82 {
  width: 82%;
}
.main-site-bar .storage-indicator__graphic-inner--83 {
  width: 83%;
}
.main-site-bar .storage-indicator__graphic-inner--84 {
  width: 84%;
}
.main-site-bar .storage-indicator__graphic-inner--85 {
  width: 85%;
}
.main-site-bar .storage-indicator__graphic-inner--86 {
  width: 86%;
}
.main-site-bar .storage-indicator__graphic-inner--87 {
  width: 87%;
}
.main-site-bar .storage-indicator__graphic-inner--88 {
  width: 88%;
}
.main-site-bar .storage-indicator__graphic-inner--89 {
  width: 89%;
}
.main-site-bar .storage-indicator__graphic-inner--90 {
  width: 90%;
}
.main-site-bar .storage-indicator__graphic-inner--91 {
  width: 91%;
}
.main-site-bar .storage-indicator__graphic-inner--92 {
  width: 92%;
}
.main-site-bar .storage-indicator__graphic-inner--93 {
  width: 93%;
}
.main-site-bar .storage-indicator__graphic-inner--94 {
  width: 94%;
}
.main-site-bar .storage-indicator__graphic-inner--95 {
  width: 95%;
}
.main-site-bar .storage-indicator__graphic-inner--96 {
  width: 96%;
}
.main-site-bar .storage-indicator__graphic-inner--97 {
  width: 97%;
}
.main-site-bar .storage-indicator__graphic-inner--98 {
  width: 98%;
}
.main-site-bar .storage-indicator__graphic-inner--99 {
  width: 99%;
}
.main-site-bar .storage-indicator__graphic-inner--100 {
  width: 100%;
}
.main-site-bar .storage-indicator__text {
  color: #BABABA;
  font-size: 10px;
  line-height: 13px;
}

.content {
  width: 100%;
  justify-self: center;
  grid-row: 1/1;
  grid-column: 2/3;
  background-color: white;
  border-radius: 40px;
  overflow: scroll;
}
.content .container {
  padding: 34px 40px 25px;
}
.content .search {
  max-width: 435px;
  background: #EFF3FB;
  border-radius: 15px;
  margin-bottom: 32px;
}
.content .search__label {
  height: 50px;
  padding: 5px 17px;
  background-color: rgba(59, 114, 226, 0.16);
  border-radius: 15px;
  line-height: 0;
  display: inline-flex;
  align-items: center;
  color: #6672fb;
}
.content .search__label:hover {
  cursor: pointer;
}
.content .search__field {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 16px;
  font-weight: 600;
  font-size: 14px;
  width: 75%;
  height: 100%;
}
.content .search__field::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.54px;
  color: #757994;
  mix-blend-mode: normal;
  opacity: 0.67;
}
.content .dashboard {
  margin-bottom: 45px;
}
.content .dashboard .content-sections__inner {
  position: relative;
  display: flex;
  background-color: rgba(102, 139, 251, 0.13);
  mix-blend-mode: normal;
  border-radius: 20px;
  padding: 25px 35px;
  background-image: url("../../img/dashboard-inner-bgc-img.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.content .dashboard .content-sections__inner .content-sections__inner-text {
  width: 60%;
}
.content .dashboard .content-sections__inner .content-sections__inner-text .inner-title {
  font-family: Didot, Roman, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  color: #333539;
  margin-bottom: 15px;
}
.content .dashboard .content-sections__inner .content-sections__inner-text .inner-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.54px;
  color: #4D4D4D;
  margin-bottom: 22px;
}
.content .dashboard .content-sections__inner img {
  position: absolute;
  top: 36px;
  right: 80px;
}
.content .folders {
  margin-bottom: 42px;
}
.content .folders .content-sections__header {
  margin-bottom: 23px;
}
.content .folders .folders-cards {
  display: grid;
  grid: 1fr/repeat(3, 1fr);
  grid-gap: 28px;
  justify-content: space-between;
}
.content .folders .folders-cards .folders__card-item {
  padding: 20px 22px;
  border-radius: 26px;
  color: white;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.content .folders .folders-cards .folders__card-item .card-item__options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.content .folders .folders-cards .folders__card-item .card-item__options .common-button {
  background-color: rgba(195, 195, 195, 0.45);
  border-radius: 10px;
  padding: 9px 7px;
  min-width: auto;
}
.content .folders .folders-cards .folders__card-item .card-item__options .more-functions-buttons {
  background-color: transparent;
  min-width: 37px;
}
.content .folders .folders-cards .folders__card-item .card-item__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 14px;
}
.content .folders .folders-cards .folders__card-item .card-item__property {
  margin-bottom: 9px;
}
.content .folders .red-folders__card-item {
  background-color: #e8523f;
  box-shadow: 0 7px 28px rgba(232, 82, 63, 0.56);
}
.content .folders .red-folders__card-item .access-item {
  border-color: #e8523f;
}
.content .folders .blue-folders__card-item {
  background-color: #6672fb;
  box-shadow: 0 7px 28px rgba(102, 114, 251, 0.56);
}
.content .folders .blue-folders__card-item .access-item {
  border-color: #6672fb;
}
.content .folders .yellow-folders__card-item {
  background-color: #f8b849;
  box-shadow: 0 7px 28px rgba(248, 184, 73, 0.56);
}
.content .folders .yellow-folders__card-item .access-item {
  border-color: #f8b849;
}
.content .recent-files .content-sections__header {
  margin-bottom: 22px;
}
.content .recent-files .recent-file__cards {
  display: flex;
  flex-direction: column;
  margin: -10px 0 15px;
}
.content .recent-files .recent-file__cards .file-card__item {
  background: #F7F7F7;
  border-radius: 16px;
  margin: 10px 0;
  padding: 15px 20px;
  transition: box-shadow 0.5s, color 0.3s;
  color: #61657E;
  font-size: 12px;
  justify-content: space-between;
}
.content .recent-files .recent-file__cards .file-card__item .file-name {
  flex-basis: 22.41%;
  font-size: 14px;
  color: #383D4A;
  transition: color 0.5s;
}
.content .recent-files .recent-file__cards .file-card__item .file-type {
  min-width: 38px;
  min-height: 38px;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 20px;
  margin-right: 18px;
}
.content .recent-files .recent-file__cards .file-card__item .file-access {
  width: 75px;
  margin-right: 50px;
  flex-basis: 70px;
}
.content .recent-files .recent-file__cards .file-card__item .file-date {
  flex-basis: 75px;
  width: 75px;
  margin-right: 45px;
}
.content .recent-files .recent-file__cards .file-card__item .file-size {
  flex-basis: 36px;
  text-transform: uppercase;
}
.content .recent-files .recent-file__cards .file-card__item .file-buttons {
  grid-area: buttons;
  display: inline-flex;
  justify-content: space-between;
}
.content .recent-files .recent-file__cards .file-card__item:hover {
  background-color: #6672FB;
  color: #F3EDED;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content .recent-files .recent-file__cards .file-card__item:hover .file-name {
  color: white;
}
.content .recent-files .recent-file__cards .file-card__item:hover .more-functions-buttons {
  color: #F3EDED;
}
.content .recent-files .recent-file__cards .file-card__item:hover .more-functions-buttons:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.info-site-bar {
  width: 100%;
  overflow: scroll;
  justify-self: end;
  grid-row: 1/1;
  grid-column: 3/4;
}
.info-site-bar .container {
  padding: 40px 30px 25px;
}
.info-site-bar .account-navigation {
  position: sticky;
  top: 0;
  background-color: #F6F9FD;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 24px;
}
.info-site-bar .account-navigation .account-navigation__item {
  font-size: 24px;
  font-weight: 100;
  margin: 0 5px;
  color: #333539;
}
.info-site-bar .account-navigation .account-navigation__item .photo {
  border-radius: 50%;
}
.info-site-bar .account-navigation .account-navigation__item .name {
  margin: 0 5px;
  font-size: 16px;
}
.info-site-bar .account-navigation .bell {
  position: relative;
}
.info-site-bar .account-navigation .bell::before {
  content: " ";
  top: 19px;
  left: 23px;
  position: absolute;
  width: 7px;
  height: 7px;
  background: #E8523F;
  border: 1px solid #F4F7FC;
  border-radius: 50%;
}
.info-site-bar .calendar {
  background-color: white;
  border-radius: 16px;
  padding: 19px 25px 14px;
  margin-bottom: 27px;
}
.info-site-bar .calendar .content-sections__header {
  margin-bottom: 13px;
}
.info-site-bar .calendar .content-sections__header .more-functions-buttons {
  font-size: 22px;
  color: #4D4D4D;
}
.info-site-bar .calendar__check-box {
  background-color: #EFF3FB;
  border-radius: 9px;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.info-site-bar .calendar__check-box .check-box__item {
  display: none;
}
.info-site-bar .calendar__check-box .check-box__item:checked + .check-box__label {
  background-color: #6672FB;
  color: #FFFFFF;
}
.info-site-bar .calendar__check-box .check-box__label {
  width: 33.333%;
  cursor: pointer;
  padding: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  border-radius: 9px;
}
.info-site-bar .calendar__time-select {
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.054167px;
  color: #383D4A;
  margin-bottom: 10px;
}
.info-site-bar .calendar__time-select .more-functions-buttons {
  width: 28px;
  height: 28px;
  padding: 0;
  border: 1px solid #B5BDCF;
  font-size: 18px;
}
.info-site-bar .calendar .calendar__body {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #535353;
}
.info-site-bar .calendar .calendar__body .calendar-column {
  grid-row: 1/1;
  align-self: start;
  justify-self: center;
  line-height: 19px;
  cursor: default;
}
.info-site-bar .calendar .calendar__body .calendar-row-item {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 9px;
  position: relative;
  width: 30px;
  height: 30px;
}
.info-site-bar .calendar .calendar__body .calendar-row-item:hover {
  border-color: #757994;
}
.info-site-bar .calendar .calendar__body .calendar-row-item--today {
  border: 1px solid #6672FB;
}
.info-site-bar .calendar .calendar__body .calendar-row-item--past {
  color: #4D4D4D;
  mix-blend-mode: normal;
  opacity: 0.32;
}
.info-site-bar .calendar .calendar__body .calendar-row-item--select {
  background-color: #6672FB;
  color: white;
}
.info-site-bar .calendar .calendar__body .calendar-row-item--notification-red:before,
.info-site-bar .calendar .calendar__body .calendar-row-item--notification-blue:before,
.info-site-bar .calendar .calendar__body .calendar-row-item--notification-yellow:before {
  position: absolute;
  content: "";
  border: 0.8px solid #FFFFFF;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 25px;
  left: 11px;
}
.info-site-bar .calendar .calendar__body .calendar-row-item--notification-red:before {
  background-color: #e8523f;
}
.info-site-bar .calendar .calendar__body .calendar-row-item--notification-blue:before {
  background-color: #6672fb;
}
.info-site-bar .calendar .calendar__body .calendar-row-item--notification-yellow:before {
  background-color: #f8b849;
}
.info-site-bar .tasks {
  margin-bottom: 27px;
}
.info-site-bar .tasks__cards .cards-item {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 9px 15px 12px 25px;
  letter-spacing: 0.2px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border: 2px solid transparent;
}
.info-site-bar .tasks__cards .cards-item .card-indicator {
  background-color: #e8523f;
  height: 120%;
  position: absolute;
  width: 10px;
  top: 0;
  left: 0;
}
.info-site-bar .tasks__cards .cards-item .content-sections__header {
  margin-bottom: 8px;
}
.info-site-bar .tasks__cards .cards-item .content-sections__header .title {
  font-weight: bold;
  font-size: 14px;
  color: #383D4A;
}
.info-site-bar .tasks__cards .cards-item .task-body {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #4D4D4D;
}
.info-site-bar .tasks__cards .cards-item .task-body .task-time {
  margin-bottom: 10px;
}
.info-site-bar .tasks__cards .cards-item .task-body .task-time .time-icon {
  margin-right: 7px;
}
.info-site-bar .tasks__cards .cards-item .task-body .card-item__access-for {
  margin-bottom: 0;
}
.info-site-bar .tasks__cards .cards-item .task-body .access-item {
  width: 22px;
  height: 22px;
  border-color: #e8523f;
}
.info-site-bar .tasks__cards .cards-item .task-body .access-item:last-child {
  background: #383D4A;
  border-color: white;
  color: white;
  font-size: 16px;
}
.info-site-bar .schedule {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 15px 0;
  margin-bottom: 25px;
  overflow: hidden;
}
.info-site-bar .schedule .schedule__header {
  padding: 0 25px;
}
.info-site-bar .schedule .schedule__header .title {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #4D4D4D;
}
.info-site-bar .schedule .schedule__header .title span {
  color: #6672fb;
}
.info-site-bar .schedule .schedule__header .select-container {
  background-color: #EFF3FB;
  border-radius: 9px;
  padding: 9px 12px;
  color: #6672fb;
  transition: box-shadow 0.5s;
}
.info-site-bar .schedule .schedule__header .select-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.info-site-bar .schedule .schedule__header .select-container .range-select {
  background-color: inherit;
  border-color: transparent;
  font-weight: 100;
  font-size: 12px;
  line-height: 16px;
  color: #4D4D4D;
  outline: none;
}
.info-site-bar .schedule .schedule__header .select-container .range-select:hover {
  cursor: pointer;
}
.info-site-bar .schedule .schedule__body {
  display: grid;
  grid-template-rows: min-content repeat(5, 40px);
  padding-left: 24px;
  grid-auto-columns: min-content 1fr;
  color: #A4A4A4;
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 14px;
}
.info-site-bar .schedule .schedule__body .percent-column-item {
  grid-column: 1;
  align-self: end;
  position: relative;
}
.info-site-bar .schedule .schedule__body .percent-column-item .percent-line {
  position: absolute;
  border-bottom: 1px dashed #EDEEF3;
  width: 350px;
  height: 1px;
  top: 11px;
  left: 35px;
}
.info-site-bar .schedule .schedule__body .time-column-item {
  grid-row: 6;
  justify-self: center;
  position: relative;
  align-self: center;
}
.info-site-bar .schedule .schedule__body .time-column-item:last-child {
  padding-right: 8px;
}
.info-site-bar .schedule .schedule__body .time-column-item .schedule-column {
  height: 156px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -15px;
  left: 50%;
  transform-origin: top left;
  transform: rotate(180deg);
}
.info-site-bar .schedule .schedule__body .time-column-item .schedule-column:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.info-site-bar .schedule .schedule__body .time-column-item .schedule-column * {
  width: 4px;
}
.info-site-bar .schedule .schedule__body .time-column-item .schedule-column__uploads {
  background-color: #e8523f;
}
.info-site-bar .schedule .schedule__body .time-column-item .schedule-column__received {
  background-color: #f8b849;
}
.info-site-bar .schedule .schedule__body .time-column-item .schedule-column__space {
  background-color: #6672fb;
}
.info-site-bar .schedule .schedule__footer {
  padding: 0 25px;
  justify-content: space-between;
}
.info-site-bar .schedule .schedule__footer .footer-item {
  display: inline-flex;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.0497618px;
  color: #4D4D4D;
}
.info-site-bar .schedule .schedule__footer .footer-item .two-circle, .info-site-bar .schedule .schedule__footer .footer-item .second-circle {
  border-radius: 50%;
}
.info-site-bar .schedule .schedule__footer .footer-item .two-circle {
  width: 11px;
  height: 11px;
  margin-right: 5px;
}
.info-site-bar .schedule .schedule__footer .footer-item .second-circle {
  width: 7px;
  height: 7px;
}

/*# sourceMappingURL=main_style.css.map */
