.container{
margin: 0 auto;
 @media (max-width:2000px) {
  //  max-width: 1300px;
  padding:0 120px;
 }

 @media (max-width:1300px) {
  //  max-width: 1200px;
   padding:0 80px ;
 }

 @media (max-width:760px) {
  //  max-width: 650px;
  padding:0 40px;
 }

}

.flex-center{
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}

.link-and-button{
  @extend .flex-center;
  padding: 5px 10px;
  background: #1D7074;
  border-radius: 5px;
color: white;
&--active{
  color: #FFB473;
}

}

.header{
  background: lightgray;
  padding: 10px 0;
  box-shadow: 0 5px 5px gray;
  .nav-bar{
    .list{
      display: flex;
      li{
        margin: 5px 15px;
      }
    }
  }
}



.content-inner{
    display: inline-flex;
  justify-content: space-between;
}


.my-works{
 margin: 0 -20px;
padding: 20px;
.title{
  font-size: 25px;
  margin-bottom: 30px;
}


&__card{
  margin: 0 20px;
border-radius: 10px;
overflow: hidden;
.card-img{
  height: 300px;
}

}


}


.App {
  text-align: center;
}

