html {
  font-size: 10px;
}
@media (max-width: 2000px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 1300px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 760px) {
  html {
    font-size: 8px;
  }
}

.container {
  margin: 0 auto;
}
@media (max-width: 2000px) {
  .container {
    padding: 0 120px;
  }
}
@media (max-width: 1300px) {
  .container {
    padding: 0 80px;
  }
}
@media (max-width: 760px) {
  .container {
    padding: 0 15px;
  }
}

.flex-center, .link-and-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.link-and-button {
  padding: 5px 10px;
  background: #1D7074;
  border-radius: 5px;
  border: 2px solid transparent;
  color: white;
  text-decoration: none;
  transition: color 0.4s, background 0.4s, border 0.4s;
  font-size: 1.7rem;
}
.link-and-button.active {
  color: #FFB473;
}
.link-and-button:hover {
  background: white;
  color: gray;
  border-color: #1D7074;
}

.header {
  background: lightgray;
  padding: 10px 0;
  box-shadow: 0 5px 5px gray;
}
.header .nav-bar .list {
  display: flex;
}
.header .nav-bar .list li {
  margin: 5px 15px;
}

.content-inner {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.my-works {
  padding: 20px 0;
}
.my-works .title {
  font-size: 25px;
  margin-bottom: 30px;
}
.my-works .content-inner {
  justify-content: start;
  flex-wrap: wrap;
}
.my-works__card {
  margin: 0 20px 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 20px -5px grey;
}
@media (max-width: 2000px) {
  .my-works__card {
    flex-basis: 30%;
  }
}
@media (max-width: 1300px) {
  .my-works__card {
    flex-basis: 40%;
  }
}
@media (max-width: 760px) {
  .my-works__card {
    flex-basis: 100%;
  }
}
.my-works__card .img-wrapper {
  box-sizing: border-box;
  position: relative;
  line-height: 0;
}
.my-works__card .card-img {
  transition: filter 0.6s;
}
.my-works__card .description {
  padding: 5px 20px;
  font-size: 1.5rem;
}
.my-works__card .description .sub-title {
  text-align: center;
  font-size: 1.7rem;
}
.my-works__card .description .info {
  margin: 5px 0 15px;
}
.my-works__card .description .used {
  margin-bottom: 10px;
}
.my-works__card:hover .card-img {
  filter: blur(2px);
}
.my-works__card:hover .links {
  display: flex;
  z-index: 2;
}

.links {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d6d6d688;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.links .visit-link {
  margin: 30px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-shadow: #424242 1px 1px;
}
.main-container {
  font-family: sans-serif;
  padding-bottom: 30px;
  font-size: 1.5rem;
}
.main-container i {
  color: #4D4D4D;
  margin: 0 10px;
}
.main-container ul {
  margin-left: 50px;
}
.main-container .title {
  margin: 30px 40px 10px;
  font-size: 1.9rem;
}
.main-container .subtitle {
  margin: 0 55px 10px;
  font-size: 1.7rem;
}
.main-container .name {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.7rem;
}
.main-container .information {
  padding: 20px 0;
  box-shadow: 0 5px 5px -4px #121432;
  background-color: rgba(186, 186, 186, 0.2);
}
.main-container .phones {
  display: flex;
}
.main-container .phone {
  margin-left: 5px;
}
.main-container .phone:last-child {
  margin-bottom: 0;
}
.main-container .phone:nth-child(1) {
  /*margin: 0 0 10px;*/
  margin-top: 0;
  /*background-color: #F8B849;*/
}
.main-container .position {
  margin-left: 40px;
  font-size: 110%;
}
.main-container .position span {
  font-weight: 600;
}
.main-container .self-text {
  margin-left: 70px;
}

/*# sourceMappingURL=App.css.map */
